@charset "utf-8";
/* CSS Document */


#content{
	width: 960px;
	margin: 0 auto;
	text-align: center;
}
#content>input{
	margin-left:8px;
	margin-bottom:10px;
	margin-top:10px;
}
td{
    width:95px;
	height:95px;
	background-color:#0F6; 
	border:1px solid #FFF;
}
table{
	margin: 0 auto;
}
table:hover {
	cursor: url('img/hammer.png'),auto;
}